Test-Command: /usr/share/cargo/bin/cargo-auto-test walkdir 2.3.2 --all-targets --all-features
Features: test-name=rust-walkdir:@
Depends: dh-cargo (>= 18), librust-doc-comment-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test walkdir 2.3.2 --all-targets 
Features: test-name=librust-walkdir-dev:default
Depends: dh-cargo (>= 18), librust-doc-comment-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test walkdir 2.3.2 --all-targets --no-default-features
Features: test-name=librust-walkdir-dev:
Depends: dh-cargo (>= 18), librust-doc-comment-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable
